<h1>Editing faq_category</h1>

<%= form_for(@faq_category) do |f| %>
  <%= render :partial => "faq_category", :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @faq_category %> |
<%= link_to 'Back', faq_categories_path %>