<h1 class="centered-header">Change Password</h1>
<%= form_for @user, :url => { :action => :change_password } do |f| -%>
  <%= f.error_messages %>
  <p>
    <%= f.label 'old_password', 'Old Password:' %> <br />
    <%= f.password_field :old_password, :class => 'input_text' %>
  </p>
  <p>
    <%= f.label 'password', 'New Password:' %> <br />
    <%= f.password_field :password, :class => 'input_text' %>
  </p>
  <p>
    <%= f.label 'password_confirmation', 'Type your new password again:' %> <br />
    <%= f.password_field :password_confirmation, :class => 'input_text' %>
  </p>
  <p>
    <%= f.submit "Change Password" %>
  </p>
<% end -%>

